.nav {
    width: 100%;
    height: 6vh;
    display: flex;
    padding: 2vh 0vh;
    justify-content: space-evenly;
    background-color: rgb(13, 14, 21);
    box-shadow: 0px -1px 15px rgb(33, 34, 51);
    position: relative;
    z-index: 10;
}

#nav-item {
    text-decoration: none;
    color: gainsboro;
    transition: transform 0.3s ease;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

#nav-item:hover {
    transform: scale(1.1);
    color: white;
}

.nav-left, .nav-right {
    width: 10%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 44, 56);
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgb(22, 24, 36);
}

.nav-center {
    width: 70%;
    height: 6vh;
    background-color: rgb(42, 44, 56);
    border-radius: 15px;
    box-shadow: 0px 3px 20px rgb(22, 24, 36);
}

.nav-right {
    justify-content: space-evenly;
}

#search-box {
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

.logo {
    width: 5vh;
    height: 5vh;
}