.userprofilepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .userprofilecontent {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
  }

.input{
    background-color: #ffffff;
    
    border-radius: 8px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    width: 270px;
    border: none;
    border-bottom: 1px solid;
    font-family: sans-serif;
}

.small-background {
    background-color: rgba(105, 100, 120, 0.5);
    backdrop-filter: blur(1px);
    padding: 30px;
    margin: 30px;
    box-shadow: 0rem 0rem 1rem rgb(10, 10, 20);
    border-radius: 1rem;

    
}



.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.user-profile {
    flex: 1;
    margin: 30px;
  }
  
  .ticket-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20vh;
  }
  
  .ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1d1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .ticketmovie {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .quantity {
    margin-right: 20px;
    font-size: 18px;
  }
  
  .day {
    margin-right: 20px;
    font-size: 18px;
  }
  
  .time {
    font-size: 18px;
  }