:root {
    --primary: #BB86FC;
    --background-verydark: #161028;
    --background-dark: #18122B;
    --background-med: #251e3b;
    --background-light: #393053;
    --background-lightest: #5e537f;
    --red: #FF6961;
    --blue: #5a73d0;
}

body {
    user-select: none;
    color: white;
}

.edit-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.edit-items {
    width: 45%;
    aspect-ratio: 3 / 4;
    background: var(--background-light);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#edit-review {
    box-sizing: border-box;
    padding-top: 0.5rem;
    overflow-y: scroll;
}

.edit-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.review {
    width: 90%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    background-color: var(--background-lightest);
    box-shadow: 0 0.2rem 0.6rem var(--background-med);
}

.movie-entry {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.movie-key {
    text-transform: capitalize;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin-bottom: 0.7rem;
}

.movie-val {
    width: 80%;
    border-radius: 0.6rem;
    border-width: 0.3rem;
    border-color: var(--primary);
    border-style: solid;
    background: var(--background-light);
    color: white;
    letter-spacing: 0.05rem;
    height: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 0.8rem -0.5rem var(--background-med);
}

.edit-save {
    width: 20%;
    aspect-ratio: 2 / 1;
    border-width: 0.3rem;
    border-style: solid;
    border-color: var(--blue);
    border-radius: 0.8rem;
    background: var(--background-light);
    color: white;
    transition: transform 0.1s ease;
}

.edit-save:hover {
    transform: scale(1.1);
    filter: brightness(1.05);
}

.edit-save:active {
    transform: scale(1.05);
    filter: brightness(0.95);
}