:root {
    --primary: #BB86FC;
    --background-verydark: #161028;
    --background-dark: #18122B;
    --background-med: #251e3b;
    --background-light: #393053;
    --red: #FF6961;
}

body {
    user-select: none;
    color: white;
}

.home-bkg {
    background-color: var(--background-dark);
    background-image:  radial-gradient(var(--background-light) 1.75px, transparent 1.75px), radial-gradient(var(--background-light) 1.75px, var(--background-dark) 1.75px);
    background-size: 70px 70px;
    background-position: 0 0,35px 35px;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 0.6rem;
    border-width: 0.3rem;
    border-style: solid;
    border-color: var(--red);
    padding: 0.5rem 1rem;
    background: none;
    color: var(--red);
    font-weight: 700;
    letter-spacing: 0.05rem;
    transition: transform 0.1s ease;
}

.logout:hover {
    transform: scale(1.1);
}

.logout:active {
    transform: scale(1.05);
    background: var(--red);
    color: white;
}