:root {
    --primary: #BB86FC;
    --background-verydark: #161028;
    --background-dark: #18122B;
    --background-med: #251e3b;
    --background-light: #393053;
}

body {
    user-select: none;
    color: white;
}

.movie-container {
    width: 50em;
    aspect-ratio: 5 / 3;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.movie {
    background: var(--background-light);
    min-width: 20rem;
    height: 85%;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0.5rem 1rem var(--background-dark); 

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    transition: transform 0.2s ease, filter 0.2s ease;
}

.movie:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.movie:hover .overlay {
    background: rgba(0, 0, 0, 0.6); /* Darken the content */
    opacity: 1;
}

.movie:active .overlay {
    background: rgba(0, 0, 0, 0.7); /* Darken the content */
    opacity: 1;
}

.movie-poster {
    width: 85%;
    aspect-ratio: 3 / 4;
    background: var(--primary);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size:cover;
}

.movie-stats {
    background: blue;
}

.movie-name {
    font-size: 2em;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: capitalize;
    background:rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem 0 0 0;
    padding-left: 0.5rem;
}

.movie-title {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: 700;
}