:root {
    --primary: #BB86FC;
    --background-verydark: #161028;
    --background-dark: #18122B;
    --background-med: #251e3b;
    --background-light: #393053;
    --background-lightest: #5e537f;
    --red: #FF6961;
    --blue: #5a73d0;
}

.stats-page {
    width: 100%;
    height: 30rem;
    background-color: var(--background-light);
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}